.body{
    max-width: 1400px;
    margin: auto;
}

.row1{   
    background: #6c757d;
    font-family: Magneto bold;
}

.btn-secondary{
    font-size: 20px;
}

.dropdown-menu{
    font-size: 18px;
    font-family: Magneto bold;
    background: silver;
}

.menu3{
    margin-left: -40px;
}

.tieude{
    font-size: 20px;
    color: white;
    border: 2px solid black;
    background: black;
    width: 160px;
    height: 40px;
    margin-left: 100px;
    font-family: grutchshaded;
}
